* {
  box-sizing: border-box;
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
}

<<<<<<< HEAD
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #d44839;
}

.container {
  background-color: #e23c29;
  border-radius: 15px;
  padding: 20px;
  max-width: 400px;
  color: white;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}

.pokemon-info {
  position: relative;
  display: flex;
  justify-content: space-between;
  background-color: #c53424;
  padding: 15px;
  border-radius: 10px;
  color: #333;
  width: 100%;
  min-height: 120px;
}

 .pokemon-info {
    position: relative;
    display: flex;
    justify-content: space-between;
    background-color:#c53424;
    padding: 15px;
    border-radius: 10px;
    color: #333;
    width: 100%;
    min-height: 120px;
  }


#imagem-frente img, #imagem-traseira img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #bf3021;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
}

.pokemon-info-text h2, .pokemon-info-text p {
  color: #ffffff;
}

button {
  background-color: #ffffff;
  color: rgb(205, 96, 96);
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  margin-top: 10px;
}

button:hover {
  background-color: #aa2121;
}

/* Estilização do sprite animado */
#pokemonSprite {
  position: absolute;
  bottom: 50px;
  left: 0;
  width: 80px;
  height: auto;
  animation: walk 3s linear infinite;
}

<<<<<<< HEAD
@keyframes walk {
  from {
    left: 0;
  }
  to {
    left: 100%;
  }
}
=======
 .input-area {
   margin-bottom: 15px;
 }

 input[type="number"] {
   width: calc(100% - 22px);
   padding: 10px;
   margin-top: 10px;
   border-radius: 5px;
   border: 1px solid #ccc;
   font-size: 16px;
 }

 button {
   background-color: #ffffff;
   color: rgb(205, 96, 96);
   padding: 10px 15px;
   border: none;
   border-radius: 5px;
   cursor: pointer;
   font-size: 14px;
   margin-top: 10px;
 }

 button:hover {
   background-color: #aa2121;
 }

 .custom-image-input {
   margin-top: 10px;
   display: flex;
   flex-direction: column;
   color: white;
 }
 
 h2 {
   font-size: 24px;
   text-align: center;
   font-weight: bold;
 }
 
 p {
  text-align: center;
 }

>>>>>>> f3945917732988ad3343e59296172f4611e773c9
